.title {
    flex-grow: 1;
}

.container {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;

    .left-section {
        width: 45%;
        padding-right: 20px;

        p {
            font-size: 18px;
            line-height: 1.5;
        }
    }

    .right-section {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-group {
            margin-bottom: 15px;
            display: flex;
            justify-content: center;

            &:last-child {
                margin-bottom: 0;
            }
        }

        mat-form-field {
            width: 550px;
            max-width: 100%;

            input {
                font-size: 18px;
                padding: 6px 14px;
            }
        }

        button {
            width: 100%;
            max-width: 550px;
            font-size: 20px;
            padding: 14px;
            margin-top: 30px;
            color: white;
            border: none;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #4854a2;
            }
        }
    }
}

.bottom-section {
    margin-top: 40px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    justify-content: center;
    display: flex;

    h1 {
        margin: 0;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        flex-direction: column;
        align-items: center;

        .left-section,
        .right-section {
            width: 100%;
            padding-right: 0;
            margin-bottom: 20px;
        }

        .right-section .input-group {
            margin-bottom: 15px;
        }

        mat-form-field {
            width: calc(100% - 40px);
            max-width: 350px;
        }

        button {
            width: calc(100% - 28px);
            max-width: 350px;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 992px) {

    mat-form-field,
    button {
        max-width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .content {

        .left-section,
        .right-section {
            width: 100%;
        }
    }

    mat-form-field,
    button {
        max-width: 220px;
    }
}

@media screen and (max-width: 576px) {

    mat-form-field,
    button {
        max-width: 180px;
    }
}