<mat-toolbar color="primary">
    <span class="title">{{ 'operation-form.header-title' | translate }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Language Selector">
        <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeLanguage('en')">{{ 'languages.en' | translate }}</button>
        <button mat-menu-item (click)="changeLanguage('es')">{{ 'languages.es' | translate }}</button>
    </mat-menu>
</mat-toolbar>

<div class="container">
    <div class="content">
        <div class="left-section">
            <p [innerHTML]="'operation-form.description-problem' | translate"></p>
        </div>
        <div class="right-section">
            <form [formGroup]="operationForm" (ngSubmit)="calculate()">
                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'operation-form.field-name' | translate: {name: "X"} }}</mat-label>
                        <input matInput formControlName="x"
                            [placeholder]="'operation-form.placeholder-field' | translate: {name: 'X'}" type="number"
                            (keypress)="onKeyPress($event)">
                        <mat-error *ngIf="operationForm.get('x')?.invalid">{{ 'operation-form.required-field' |
                            translate }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'operation-form.field-name' | translate: {name: "Y"} }}</mat-label>
                        <input matInput formControlName="y"
                            [placeholder]="'operation-form.placeholder-field' | translate: {name: 'Y'}" type="number"
                            (keypress)="onKeyPress($event)">
                        <mat-error *ngIf="operationForm.get('y')?.invalid">{{ 'operation-form.required-field' |
                            translate }}</mat-error>
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'operation-form.field-name' | translate: {name: "N"} }}</mat-label>
                        <input matInput formControlName="n"
                            [placeholder]="'operation-form.placeholder-field' | translate: {name: 'N'}" type="number"
                            (keypress)="onKeyPress($event)">
                        <mat-error *ngIf="operationForm.get('n')?.invalid">{{ 'operation-form.required-field' |
                            translate }}</mat-error>
                    </mat-form-field>
                </div>

                <button mat-raised-button color="primary" type="submit" class="submit-button">{{
                    'operation-form.calculate' | translate }}</button>
            </form>
        </div>
    </div>

    <div *ngIf="serverResponse" class="bottom-section">
        <h1>{{ 'operation-form.response-problem' | translate: {response: serverResponse } }}</h1>
    </div>

    <div *ngIf="serverResponseError && serverResponseCodeError === '0'" class="bottom-section">
        <h1>{{ 'operation-form.error' | translate }}</h1>
    </div>

    <div *ngIf="serverResponseError && serverResponseCodeError === '1'" class="bottom-section">
        <h1>{{ 'operation-form.error-code-1' | translate }}</h1>
    </div>
</div>